/* Slider styles */
.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#slider-image {
    width: 100%;
    height: auto;
    max-height: 80vh; 
    /* aspect-ratio: 16/9;  */
}

.slider .sliderbtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 20px;
    padding: 8px 15px;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Part 1 styles */
.part1 {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.part1 h1 {
    font-size: 2em;
    color: #515151;
    margin-bottom: 20px;
}

.part1 p {
    font-size: 1em;
    color: #515151;
    line-height: 1.5;
    margin-top: 20px;
    text-align: left;
}

/* Part 2 styles */
.part2 {
    background: url(../images/flower-2.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px 10px;
}

.part2-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Part 3 styles */
.part3 {
    padding: 20px;
    background-color: #eaeaea;
    text-align: center;
}

.part3 h1 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

.part3 p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

/* Responsive styles */
@media (max-width: 768px) {
    #slider-image {
        max-height: 16vh; /* Adjust height for tablets */
        /* aspect-ratio: 16/10; */
    }

    .part1 h1, .part3 h1 {
        font-size: 1.5em;
    }

    .part1 p, .part3 p {
        font-size: 0.9em;
    }

    .slider button {
        font-size: 18px;
        padding: 8px;
    }

    .part2-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    #slider-image {
        max-height: 16vh; /* Adjust height for mobile */
        /* aspect-ratio: 6/12; Keeps image proportionate */
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-description {
        font-size: 0.9rem;
    }

    .part1 h1, .part3 h1 {
        font-size: 1.2em;
    }

    .part1 p, .part3 p {
        font-size: 0.8em;
    }

    .slider button {
        font-size: 16px;
        padding: 6px;
    }

    .part2-content {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
}
