.modal-overlay-edit {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other elements */
  }
  
  .modal-content-edit {
    background: #fff;
    padding: 20px;
    width: 500px;
    max-width: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .form-group textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    font-size: 1rem;
    color: #555;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    :focus {
        box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
        outline: none;
      }
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }
  
  .save-btn,
  .cancel-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .save-btn {
    background-color: #4CAF50;
    color: #fff;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: #fff;
  }